In [3]:
# Import the dependencies.

import pandas as pd
import gmaps
import requests

#Import the API Key. 
from config import g_key

In [4]:
# Store the CSV file you saved in part one into a DataFrame. 

city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Laguna,US,2022-07-15 19:48:12,38.4210,-121.4238,98.01,42,0,8.05
1,1,Albany,US,2022-07-15 19:48:12,42.6001,-73.9662,86.58,35,7,1.01
2,2,Bengkulu,ID,2022-07-15 19:46:44,-3.8004,102.2655,75.60,89,100,3.78
3,3,Rikitea,PF,2022-07-15 19:46:56,-23.1203,-134.9692,68.11,77,100,7.74
4,4,Sitka,US,2022-07-15 19:48:13,57.0531,-135.3300,57.09,82,100,9.22

In [5]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [6]:
# Configure gmaps to use your Google API Key. 

gmaps.configure(api_key = g_key)

In [ ]:
# # 1. Assign the locations to an array of latitude and longitude pairs. 
# locations = [latitude, longtitude]

# # 2. Assign the weights variable to some values. 
# temperature = # an array of length equal to the locations array length

# # 3. Assign the figure variable to the gmaps.figure() attribute. 
# fig = gmaps.figure()

# # 4. Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations. 
# heatmap_layer = gmaps.heatmap_layer(locations, weights = temperatures)


# # 5. Add the heatmap layer. 
# fig.add_layer(heatmap_layer)

# # 6. Call the figure to plot the data
# fig

In [9]:
# Get the maximum temperature. 
max_temp = city_data_df["Max Temp"]

temps = []

for temp in max_temp: 
    temps.append(max(temp, 0))

In [19]:
# Heatmap of Maximum Temperature. 

# 1. Assign the locations to an array of latitude and longitude pairs. 
locations = city_data_df[["Lat", "Lng"]]

# 2. Assign the weights variable to some values. 
max_temp = city_data_df["Max Temp"]

# 3. Assign the figure variable to the gmaps.figure() attribute. 
fig = gmaps.figure(center=(30.0, 31), zoom_level=1.5)

# 4. Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations. 
heat_layer = gmaps.heatmap_layer(locations, weights = [max(temp, 0) for temp in max_temp], dissipating = False, max_intensity = 300, point_radius =4)


# 5. Add the heatmap layer. 
fig.add_layer(heat_layer)

# 6. Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [16]:
# Heatmap of Humidity. 

# 1. Assign the locations to an array of latitude and longitude pairs. 
locations = city_data_df[["Lat", "Lng"]]

# 2. Assign the weights variable to some values. 
humidity = city_data_df["Humidity"]

# 3. Assign the figure variable to the gmaps.figure() attribute. 
fig = gmaps.figure(center=(30.0, 31), zoom_level=1.5)

# 4. Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations. 
heat_layer = gmaps.heatmap_layer(locations, weights = humidity, dissipating = False, max_intensity = 300, point_radius =4)


# 5. Add the heatmap layer. 
fig.add_layer(heat_layer)

# 6. Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [17]:
# Heatmap of Percent Cloudiness. 

# 1. Assign the locations to an array of latitude and longitude pairs. 
locations = city_data_df[["Lat", "Lng"]]

# 2. Assign the weights variable to some values. 
clouds = city_data_df["Cloudiness"]

# 3. Assign the figure variable to the gmaps.figure() attribute. 
fig = gmaps.figure(center=(30.0, 31), zoom_level=1.5)

# 4. Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations. 
heat_layer = gmaps.heatmap_layer(locations, weights = clouds, dissipating = False, max_intensity = 300, point_radius =4)


# 5. Add the heatmap layer. 
fig.add_layer(heat_layer)

# 6. Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [18]:
# Heatmap of Wind Speed. 

# 1. Assign the locations to an array of latitude and longitude pairs. 
locations = city_data_df[["Lat", "Lng"]]

# 2. Assign the weights variable to some values. 
wind = city_data_df["Wind Speed"]

# 3. Assign the figure variable to the gmaps.figure() attribute. 
fig = gmaps.figure(center=(30.0, 31), zoom_level=1.5)

# 4. Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations. 
heat_layer = gmaps.heatmap_layer(locations, weights = wind, dissipating = False, max_intensity = 300, point_radius =4)


# 5. Add the heatmap layer. 
fig.add_layer(heat_layer)

# 6. Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [20]:
# Ask the customer to add a minimum and maximum temperature value. 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [24]:
# Filter the dataset to find the cities that fit the criteria. 

preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] >= min_temp ) & (city_data_df["Max Temp"] <= max_temp)]

preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
1,1,Albany,US,2022-07-15 19:48:12,42.6001,-73.9662,86.58,35,7,1.01
2,2,Bengkulu,ID,2022-07-15 19:46:44,-3.8004,102.2655,75.60,89,100,3.78
5,5,Buala,SB,2022-07-15 19:48:14,-8.1450,159.5921,78.31,83,76,4.85
7,7,Nola,IT,2022-07-15 19:48:15,40.9220,14.5329,81.32,81,0,2.62
8,8,Eydhafushi,MV,2022-07-15 19:48:16,5.1033,73.0708,82.31,78,68,9.51
10,10,Najran,SA,2022-07-15 19:48:17,17.4924,44.1277,86.65,21,100,4.79
16,16,Tura,IN,2022-07-15 19:48:20,25.5198,90.2201,75.67,94,7,4.21
20,20,Vaini,TO,2022-07-15 19:48:22,-21.2000,-175.2000,75.36,94,20,5.75
21,21,Kahului,US,2022-07-15 19:47:58,20.8947,-156.4700,85.96,64,40,19.57
23,23,Brokopondo,SR,2022-07-15 19:48:23,4.7500,-55.1667,83.39,70,99,8.48

In [1]:
preferred_cities_df.isnull().sum()

NameError: name 'preferred_cities_df' is not defined

In [29]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates. 

hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()

hotel_df["Hotel Name"] = ""

hotel_df.head(10)

          City Country  Max Temp      Lat       Lng Hotel Name
1       Albany      US     86.58  42.6001  -73.9662
2     Bengkulu      ID     75.60  -3.8004  102.2655
5        Buala      SB     78.31  -8.1450  159.5921
7         Nola      IT     81.32  40.9220   14.5329
8   Eydhafushi      MV     82.31   5.1033   73.0708
10      Najran      SA     86.65  17.4924   44.1277
16        Tura      IN     75.67  25.5198   90.2201
20       Vaini      TO     75.36 -21.2000 -175.2000
21     Kahului      US     85.96  20.8947 -156.4700
23  Brokopondo      SR     83.39   4.7500  -55.1667

In [34]:
# Import the config.py file
from config import g_key

# Set parameters to search for a hotel. 

params = {
    "radius" : 5000, 
    "type": "lodging", 
    "key" : g_key
    
}

# Iterate through  the DataFrame. 

for index, row in hotel_df.iterrows(): 
    # Get the latitude and longitude. 
    lat = row["Lat"]
    lng = row["Lng"]
    
    
    # Add the latitude and longitude to location key for the params dictionary. 
    params["location"] = f"{lat},{lng}"
    
    # Use the search term : "lodging" and our latitude and longitude. 
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    # Make request and get the JSON data from the search. 
    hotels = requests.get(base_url, params = params).json()
    
    # Grab the first hotel from the results and store the name. 
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
        
    except(IndexError): 
        
        print("Hotel not found...skipping.")
    
    
hotel_df.head(10)

Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.

          City Country  Max Temp      Lat       Lng                Hotel Name
1       Albany      US     86.58  42.6001  -73.9662
2     Bengkulu      ID     75.60  -3.8004  102.2655      Grage Hotel Bengkulu
5        Buala      SB     78.31  -8.1450  159.5921      Maringe Lagoon Lodge
7         Nola      IT     81.32  40.9220   14.5329    Palazzo Giordano Bruno
8   Eydhafushi      MV     82.31   5.1033   73.0708              Soneva Fushi
10      Najran      SA     86.65  17.4924   44.1277         محمد هادي ال فطيح
16        Tura      IN     75.67  25.5198   90.2201  Hotel RIKMAN Continental
20       Vaini      TO     75.36 -21.2000 -175.2000       Keleti Beach Resort
21     Kahului      US     85.96  20.8947 -156.4700        Maui Seaside Hotel
23  Brokopondo      SR     83.39   4.7500  -55.1667               Matu Island

In [35]:
# Add a heatmap of temperature for the vacation spots. 
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center = (30.0, 31.0), zoom_level = 1.5)
heat_layer = gmaps.heatmap_layer(locations, weights = max_temp, dissipating = False, max_intensity = 300, point_radius =4)

fig.add_layer(heat_layer)

# Call the figure to plot the data. 
fig

Figure(layout=FigureLayout(height='420px'))

In [37]:
# Add a heatmap of temperature for the vacation spots and marker for each city. 
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center = (30.0, 31.0), zoom_level = 1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, 
                                dissipating = False, max_intensity = 300, point_radius = 4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

#Call the figure to plot the data. 
fig

Figure(layout=FigureLayout(height='420px'))

In [ ]:
# Info box template syntax

# info_box_template = """
# <dl>
# <dt>Name</dt><dd>{column1}</dd>
# <dt>Another name</dt><dd>{column2}</dd>
# </dl>
# """

In [38]:


info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp}</dd>
</dl>
"""


# Store the DataFrame Row. 
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [39]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city. 
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center = (30.0, 31.0), zoom_level = 1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, 
                                dissipating = False, max_intensity = 300, point_radius = 4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

#Call the figure to plot the data. 
fig

Figure(layout=FigureLayout(height='420px'))